<div class="row">
  <div class="col-md-4" style="display: block;">
    <label style="margin: .4rem;">Search beers!</label>
    <input type="text" name="search-box" id="search-box" [(ngModel)]="searchString" (ngModelChange)="inputEvent(searchString)">
  </div>
  <div class="col-md-4" style="display: block;">
    <label style="margin: .4rem;" >Filter</label>
    <select [(ngModel)]="filtertype">
      <option disabled selected value> -- select an option -- </option>
      <option value="0">ABV</option>
      <option value="1">IBU</option>
      <option value="2">EBC</option>
    </select>
  </div>
  <select *ngIf="filtertype==0" [(ngModel)]="selectedrange">
    <option *ngFor="let r of abvRanges" [value]="r">{{r}}</option>
  </select>
  <select (click)="ibuFilter()" *ngIf="filtertype==1" [(ngModel)]="selectedrange">
    <option *ngFor="let r of ibuNames" [value]="r">{{r}}</option>
  </select>

</div>
<br>
<div class="row">
  <div *ngFor="let item of data; let i = index" class="col-md-6">
    <div class="ticketBox" data-ticket-price="50000">
      <div class="inactiveStatus"></div>

      <div class="row">
        <div class="col-xs-9">
          <div class="ticket-name">
            {{item.name}}
            <span><small><b>First brewed: </b></small> {{item.first_brewed}}<br></span>
            <span><small><b>Alcohol by volume: </b></small> {{item.abv}}%<br></span>
            <span><small><b>International bittering unit: </b></small> {{item.ibu}}<br></span>
            <span><small><b>Yeast: </b></small> {{item.ingredients.yeast}}<br></span>
            <span><small><b>Standard Reference Method: </b></small> {{getSRMString(item.srm)}}</span>
            <span><small><b>European Brewery Convention: </b></small>
              <svg width="20" height="20">
                <rect width="20" height="20" [style]="getEbcColor(item.ebc)" />
              </svg>
              <br></span>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="ticket-control" >
            <img [src]="item.image_url" alt="" srcset="" style="max-width: 100px; max-height: 100px;">
          </div>
        </div>
      </div>

      <div class="ticket-description">
          <a href="#List-{{ i }}" data-toggle="collapse"><strong>{{item.tagline}}</strong></a>
          <div id="List-{{ i }}" class="collapse">
            <ul style="list-style: none">
              <li><p>{{item.description}}</p></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
