<div class="row">
  <div *ngFor="let item of data" class="col-md-6">
    <div class="ticketBox" data-ticket-price="50000">
      <div class="inactiveStatus"></div>

      <div class="row">
        <div class="col-xs-6">
          <div class="ticket-name">
            {{item.name}}
            <span><small><b>First brewed: </b></small> {{item.first_brewed}}<br></span>
            <span><small><b>abv: </b></small> {{item.abv}}<br></span>
            <span><small><b>ebc: </b></small> {{item.ebc}}<br></span>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="ticket-control" class="float-right">
            <img [src]="item.image_url" alt="" srcset="" style="max-width: 100px; max-height: 100px;">
          </div>
        </div>
      </div>


      <div class="ticket-description">
        <p><strong>{{item.tagline}}</strong><br>{{item.description}}</p>
      </div>

    </div>
  </div>
</div>
